<template>
  <div class="container">
        <br>
        <div class="row">
			<div class="col-md-8 order-md-1">
					<h4 class="mb-3">Modulo Producto</h4>
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
						Crear un producto
					</button>

					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Formulario de producto</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">

									<div class="form-group">
										<label for="exampleFormControlInput1">Nombre</label>
										<input type="text" class="form-control" v-model="nombre" >
									</div>
									
									<div class="form-group">
										<label for="exampleFormControlInput1">Telefono</label>
										<input type="text" class="form-control" v-model="telefono" >
									</div>
									<div class="form-group">
										<label for="exampleFormControlInput1">Email</label>
										<input type="text" class="form-control" v-model="email" >
									</div>
									<div class="form-group">
										<label for="exampleFormControlInput1">mapa</label>
										<input type="text" class="form-control" v-model="mapa" >
									</div>
									<div class="form-group">
										<label for="exampleFormControlTextarea1">Direccion</label>
										<textarea class="form-control" v-model="direccion" rows="2"></textarea>
									</div>

									<div class="form-group">
										<label for="exampleFormControlInput1">Imagen</label>
										<input type="file" class="form-control" ref="file" v-on:change="onUploadImage()"  >
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
									<button type="button" class="btn btn-primary" v-on:click="sendNetwordCreateProduct()">Guardar</button>
								</div>
							</div>
						</div>
					</div>
			</div>
        </div>

  </div>  
</template>



<script>
  export default {
    /*
      Defines the data used by the component
    */
    data(){
      return {
		nombre:'nombre de prueba',
		direccion:'direccion de prueba',
		telefono:'telefono de rueba',
		email:'email de prueba',
		mapa:'mapa de prueba',
		picFile:null

      }
    },
	mounted() {
		
	},
	methods:{
		onUploadImage(){
            this.picFile = this.$refs.file.files[0];
		},
		
		sendNetwordCreateProduct(){

            if (this.nombre=="") {
              alert("Completa el campo de nombre ")
            }
            else if (this.direccion=="") {
              alert("Completa el campo direccion")
            }
			else if (this.telefono=="") {
              alert("Completa el campo de telefono")
			}
			else if (this.email=="") {
              alert("Completa el campo de email")
			}
			else if (this.mapa=="") {
              alert("Completa el campo de mapa")
            }
            else {

              const formData = new FormData()
              formData.append('nombre',this.nombre)
              formData.append('direccion',this.direccion)
              formData.append('telefono',this.telefono)
			  formData.append('email',this.email)
			  formData.append('mapa',this.mapa)

              // por si no esta nulo
              if (this.picFile) {
                formData.append('pinture',this.picFile)
              }

              //console.log(JSON.stringify(this))

              axios.post("store-create",formData)
              .then(response => {
                // limpiar campo_
                alert(response.data.message)
                // cargar lista de nuevo
                //this.listCatService()
              })
              
            } 
        },
	}
  }
</script>