<template>
    <v-container fluid>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Crear articulos</div>
                    <div class="card-body">
                        <label for="nombre">nombre</label>
                        <input type="text" class="form-control" v-model="store.nombre" />
                    
                        <label for="direccion">direccion</label>
                        <input type="text" class="form-control" v-model="store.direccion" />


                        <label for="telefono">telefono</label>
                        <input type="text" class="form-control" v-model="store.telefono" />

                        <label for="email">email</label>
                        <input type="text" class="form-control" v-model="store.email" />

                        <label for="mapa">mapa</label>
                        <input type="text" class="form-control" v-model="store.mapa" />
                        
                        <label  for="imagen" >Imagenes</label>
                        <input type="file"  ref="file2"  v-on:change="obtenerImagenes()"/>
                        
                        <button  class="btn btn-dark" v-on:click="submitForm()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </v-container>
</template>

<script>
  export default {
    /*
      Defines the data used by the component
    */
    data(){
      return {
        store: { nombre: '', direccion:'', telefono:'', email:'', mapa:''},
        pinture: ''

      }
    },

    methods: {
      /*
        Submits all of the files to the server
      */
      submitForm(){
        /*
          Initialize the form data
        */
        let formData = new FormData();

        /*
          Iteate over any file sent over appending the files
          to the form data.
        */
       /* for( var i = 0; i < this.files.length; i++ ){
            let file = this.files[i];

            formData.append('files[' + i + ']', file);
        }*/
            formData.append('pinture', this.pinture);


            formData.append('nombre', this.store.nombre);
            formData.append('direccion', this.store.direccion);
            formData.append('telefono', this.store.telefono);
            formData.append('email', this.store.email);
            formData.append('mapa', this.store.mapa);
            

        

        /*
          Make the request to the POST /multiple-files URL
        */
        axios.post( '/store-create',
          formData,
          {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
          }
        ).then(response => {
            console.log(response.data);
        })
      },

      /*
        Handles a change on the file upload
      */
      obtenerImagenes(){
        let pic =  this.pinture = this.$refs.file2.files[0];
        this.pinture = pic;
      }
    }
  }
</script>