<template>
  <div class="container">
    <div class="large-12 medium-12 small-12 cell">
      <label>File
        <input type="file"  ref="file2" v-on:change="handleFileUpload()"/>
      </label>
      <button v-on:click="submitFile()">Submit</button>
    </div>
  </div>
</template>

<script>
  export default {
    /*
      Defines the data used by the component
    */
    data(){
      return {
        pinture: ''
      }
    },

    methods: {
      /*
        Submits the file to the server
      */
      submitFile(){
        /*
                Initialize the form data
            */
            let formData = new FormData();

            /*
                Add the form data we need to submit
            */
            formData.append('pinture', this.pinture);

        /*
          Make the request to the POST /single-file URL
        */
            axios.post( '/store-create',
                formData,
                {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
              }
            ).then(response => {
            console.log(response.data);
        })
      },

      /*
        Handles a change on the file upload
      */
      handleFileUpload(){
        this.pinture = this.$refs.file2.files[0];
      }
    }
  }
</script>