<template>
    <v-container fluid>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Crear articulos</div>
                        <div class="card-body">
                            <form @submit.prevent="agregar" enctype="multipart/form-data">

                                <label for="nombre">nombre</label>
                                <input type="text" class="form-control" v-model="store.nombre" />
                            
                                <label for="direccion">direccion</label>
                                <input type="text" class="form-control" v-model="store.direccion" />


                                <label for="telefono">telefono</label>
                                <input type="text" class="form-control" v-model="store.telefono" />

                                <label for="email">email</label>
                                <input type="text" class="form-control" v-model="store.email" />

                                <label for="mapa">mapa</label>
                                <input type="text" class="form-control" v-model="store.mapa" />

                                <label for="pinture">imagen</label>
                                <!--<input type="file" @change="obtenerImagenes" class="form-control-file"/>-->
                                <input type="file" id="file" ref="file" v-on:change="obtenerImagenes()"/>


                               <!-- <figure>
                                    <img width="200px" height="200px"  alt="Imagen de la tienda">
                                </figure>-->

                                <button class="btn btn-dark" type="submit">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-container>
</template>

<script>
export default {
    data() {
        return {

            //stores:[],
            store: { nombre: '', direccion:'', telefono:'', email:'', mapa:'', pinture:''},
            files: ''
        };
    },

    methods:{
        agregar() {

            


           /* const params = {
                nombre: this.store.nombre,
                direccion: this.store.direccion,
                telefono: this.store.telefono,
                email: this.store.email,
                mapa: this.store.mapa,
                pinture: this.store.pinture,


            }
            
            //axios.post('store-create',params).then(response => {
               // nombre: this.store.nombre = '';
               // direccion: this.store.direccion = '';
               // telefono: this.store.telefono = '';
               // email: this.store.email = '';
               // mapa: this.store.mapa = '';
               // pinture: this.store.pinture = '';
                //console.log(params);


            })
            */


            /*
            let formData = new formData();
                formData.append('nombre', this.store.nombre);
                formData.append('direccion', this.store.direccion);
                formData.append('telefono', this.store.telefono);
                formData.append('email', this.store.email);
                formData.append('mapa', this.store.mapa);
                formData.append('pinture', this.store.pinture);
               
               axios.post('store-create',formData).then(response => {
                           console.log(response.data);


            })*/

            

        }
       // obtenerImagenes(e){
         //   let file = e.target.files[0]
           // this.store.pinture = file;
            //console.log(file);
          //  thia.loadImagenes(file);

        //}

       // loadImagenes(file){

            //let reader = new FileReader();

            //reader.onload = (e) => {
              //  this.tumbl = e.target.result;
            //}

          //  reader.readAsDataURL(file);
        //} 
    }

    //computed: {
      //  imagen(){
        //    return this.tumbl;
        //}
   // }
};
</script>
